# api config
APP_SECRET=[APP_SECRET]
APP_API_URL=[APP_API_URL]
APP_WEB_URL=[APP_WEB_URL]

# mail config
MAIL_DRIVER=[MAIL_DRIVER]

#storage config
STORAGE_DRIVER=[STORAGE_DRIVER]

#cache config
CACHE_DRIVER=[CACHE_DRIVER]
CACHE_PORT=[CACHE_PORT]
CACHE_HOST=[CACHE_HOST]
CACHE_PASSWORD=[CACHE_PASSWORD]
